{% extends 'base.html' %}
{% block content %}
{% include 'catalog/includes/nav.html' %}

<ul class="recipe-list">
    {% for p in posts %}
    <li class="recipe-item">
        <h2>{{p.title}}</h2>
        {% autoescape off %}
        <p>{{p.content | truncatewords:50}}</p>
        {% endautoescape %}
        <div class="clear"></div>
        <p><a href="{{p.get_absolute_url}}" class="recipe-item__link">Читать пост</a></p>
    </li>
    {% endfor %}
</ul>

{% include 'catalog/includes/nav.html' %}
{% endblock %}